@model StoreGraphRenderer.Models.StoreSelection

@{
    ViewBag.Title = "Home Page";
}

<p class="title">Select the store id which you would like to retrieve data for</p>

@using (Html.BeginForm("SelectStore", "Home"))
{
    @Html.DropDownListFor(store => store.StoreSelectedID, new SelectList(ViewBag.StoreIDs));
    <input type="submit" value="Select Store" />
}