@model StoreGraphRenderer.Models.StoreSelection

@{
    ViewBag.Title = "SelectStore";
}

<p class="title">Select the floor for the store</p>

@using (Html.BeginForm("SelectFloor", "Home"))
{
    @Html.HiddenFor(id => id.StoreSelectedID);
    @Html.DropDownListFor(floor => floor.StoreSelectedFloor, new SelectList(ViewBag.StoreFloors));
    <input type="submit" value="Select" />
}