
@{
    ViewBag.Title = "RenderGraph";
}

<p class="title">Graph with relative information</p>

<img src="@ViewBag.ImageUrl" style="width:98%;margin:auto" />

@using (Html.BeginForm("Index", "Home"))
{
    <input type="submit" value="Home"/>
}
